<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sprat Datatable Sample</title>
    <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.17.1.css">
</head>
<body>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script src="../../../../../main/resources/js/vendor/jsonselect.js"></script>
<!-- not needed for this sample: querying data has been mocked -->
<!-- <script src="$PATH/wrestle/sprat.wrestle.js"></script> -->
<script src="../../../../../main/resources/js/ui/renderer.js"></script>
<script src="../../../../../main/resources/js/ui/component/datatable.js"></script>
<script src="datatable.sample.js"></script>

<h1>Generic column mapping</h1>
<table class="table table-striped table-bordered" id="listView">
    <thead>
    <tr>
        <!-- Columns can be mapped by their property name. Use "sprat-datatable-property" for retrieving them by their key -->
        <!-- The CSS class sprat-datatable-is-orderable marks the column as orderable -->
        <th sprat-datatable-property="name" class="rdt-is-orderable">Name</th>
        <th sprat-datatable-property="count">Count</th>
        <!-- we can define our custom renderer which must be defined with sprat.ui.renderer.register('renderer_name', callback) -->
        <th sprat-datatable-renderer="my_renderer">Datatype</th>
        <th sprat-datatable-property="description">Description</th>
        <!-- sprat-datatable-alias is used for columns which have no corresponding property -->
        <th sprat-datatable-alias="actions">Aktionen</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
    sprat.ui.component.dataTable()
            .bindTable($('#listView'))
            .toEndpoint("/rest/units")
            .withSpringDataAttribute("units")
            .mapColumns({
                "actions": function(data) {
                    return "Aktionen"
                }
            })
            .build();
</script>

<h1>Map columns by their index or alias</h1>
<table class="table table-striped table-bordered" id="listViewSmall">
    <thead>
    <tr>
        <th sprat-datatable-property="type" class="sprat-datatable-is-orderable">Typ</th>
        <!-- use .mapColumn(idx, callback) to define the columns by their index -->
        <th>Count</th>
        <th rdt-alias="my-value">Value</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
    sprat.ui.component.dataTable()
            .bindTable($('#listViewSmall'))
            .toEndpoint("/rest/types")
            .withSpringDataAttribute("types")
            .mapColumn(1, function (data, all) {
                return "mapColumn-Callback for count " + data.count;
            })
            .mapColumn('my-value', function (data, all) {
                return "value: " + data.value;
            })
            .build();
</script>

<h1>Switch datasource</h1>
<a href="#" class="normal-view">Normal view</a> | <a href="#" class="extended-view">Extended view</a>
<table class="table table-striped table-bordered" id="listViewChangingDataSource">
    <thead>
    <tr>
        <th sprat-datatable-property="type">Typ</th>
        <th sprat-datatable-property="value">Value</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
    var changingDataSource = sprat.ui.component.dataTable()
            .bindTable($('#listViewChangingDataSource'))
            .toEndpoint("/rest/types")
            .withSpringDataAttribute("types")
            .build();

    $(".normal-view").click(function() {
        changingDataSource.updateEndpoint("/rest/types");
    });

    $(".extended-view").click(function() {
        changingDataSource.updateEndpoint("/rest/types?extended");
    });

</script>
</body>
</html>